In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

np.random.seed(42)

In [2]:
meat_consumption = pd.read_csv("Meat_Consumption.csv")

print(meat_consumption)

         Date  Consumption            Unit
0    Apr-2004          NaN  Million Pounds
1    Apr-2005  2716.779276  Million Pounds
2    Apr-2006  2656.600413  Million Pounds
3    Apr-2007  2887.953160  Million Pounds
4    Apr-2008  3064.598085  Million Pounds
..        ...          ...             ...
242  Sep-2019  3395.771512  Million Pounds
243  Sep-2020  3603.389751  Million Pounds
244  Sep-2021  3586.274685  Million Pounds
245  Sep-2022  3474.301586  Million Pounds
246  Sep-2023  3400.372863  Million Pounds

[247 rows x 3 columns]

In [3]:
survey = pd.read_csv("Datathon Data/acs_5yr_est_selected_economic_characteristics_2010-2022.csv")

print(survey)

                              Label (Grouping)  \
0                            EMPLOYMENT STATUS
1                 Population 16 years and over
2                               In labor force
3                         Civilian labor force
4                                     Employed
...                                        ...
98015                        18 years and over
98016                           18 to 64 years
98017                        65 years and over
98018                       People in families
98019  Unrelated individuals 15 years and over

                                                Category        State  \
0                                                 Header      Alabama
1                                      EMPLOYMENT STATUS      Alabama
2                                      EMPLOYMENT STATUS      Alabama
3                                      EMPLOYMENT STATUS      Alabama
4                                      EMPLOYMENT STATUS      Alabama
...                                                  ...          ...
98015  PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME...  Puerto Rico
98016  PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME...  Puerto Rico
98017  PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME...  Puerto Rico
98018  PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME...  Puerto Rico
98019  PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME...  Puerto Rico

        Estimate Margin of Error    Percent Percent Margin of Error  Year
0            NaN             NaN        NaN                     NaN  2010
1      3,714,504          ±1,588  3,714,504                     (X)  2010
2      2,246,848          ±5,576      60.5%                    ±0.1  2010
3      2,230,879          ±5,531      60.1%                    ±0.1  2010
4      2,036,867          ±5,904      54.8%                    ±0.2  2010
...          ...             ...        ...                     ...   ...
98015        (X)             (X)      39.7%                    ±0.4  2021
98016        (X)             (X)      40.1%                    ±0.4  2021
98017        (X)             (X)      38.5%                    ±0.5  2021
98018        (X)             (X)      40.0%                    ±0.4  2021
98019        (X)             (X)      55.3%                    ±0.4  2021

[98020 rows x 8 columns]

In [4]:
print(survey.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98020 entries, 0 to 98019
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Label (Grouping)         98020 non-null  object
 1   Category                 98020 non-null  object
 2   State                    98020 non-null  object
 3   Estimate                 92612 non-null  object
 4   Margin of Error          92612 non-null  object
 5   Percent                  92612 non-null  object
 6   Percent Margin of Error  92612 non-null  object
 7   Year                     98020 non-null  int64
dtypes: int64(1), object(7)
memory usage: 6.0+ MB
None

In [5]:
label_values = survey['Label (Grouping)'].unique()
print(label_values)

['EMPLOYMENT STATUS' 'Population 16 years and over'
 '\xa0\xa0\xa0\xa0In labor force'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Civilian labor force'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Employed'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Unemployed'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Armed Forces'
 '\xa0\xa0\xa0\xa0Not in labor force'
 '\xa0\xa0\xa0\xa0Civilian labor force'
 '\xa0\xa0\xa0\xa0Percent Unemployed' 'Females 16 years and over'
 'Own children under 6 years'
 '\xa0\xa0\xa0\xa0All parents in family in labor force'
 'Own children 6 to 17 years' 'COMMUTING TO WORK'
 'Workers 16 years and over'
 '\xa0\xa0\xa0\xa0Car, truck, or van -- drove alone'
 '\xa0\xa0\xa0\xa0Car, truck, or van -- carpooled'
 '\xa0\xa0\xa0\xa0Public transportation (excluding taxicab)'
 '\xa0\xa0\xa0\xa0Walked' '\xa0\xa0\xa0\xa0Other means'
 '\xa0\xa0\xa0\xa0Worked at home'
 '\xa0\xa0\xa0\xa0Mean travel time to work (minutes)' 'OCCUPATION'
 'Civilian employed population 16 years and over'
 '\xa0\xa0\xa0\xa0Management, business, science, and arts occupations'
 '\xa0\xa0\xa0\xa0Service occupations'
 '\xa0\xa0\xa0\xa0Sales and office occupations'
 '\xa0\xa0\xa0\xa0Natural resources, construction, and maintenance occupations'
 '\xa0\xa0\xa0\xa0Production, transportation, and material moving occupations'
 'INDUSTRY'
 '\xa0\xa0\xa0\xa0Agriculture, forestry, fishing and hunting, and mining'
 '\xa0\xa0\xa0\xa0Construction' '\xa0\xa0\xa0\xa0Manufacturing'
 '\xa0\xa0\xa0\xa0Wholesale trade' '\xa0\xa0\xa0\xa0Retail trade'
 '\xa0\xa0\xa0\xa0Transportation and warehousing, and utilities'
 '\xa0\xa0\xa0\xa0Information'
 '\xa0\xa0\xa0\xa0Finance and insurance, and real estate and rental and leasing'
 '\xa0\xa0\xa0\xa0Professional, scientific, and management, and administrative and waste management services'
 '\xa0\xa0\xa0\xa0Educational services, and health care and social assistance'
 '\xa0\xa0\xa0\xa0Arts, entertainment, and recreation, and accommodation and food services'
 '\xa0\xa0\xa0\xa0Other services, except public administration'
 '\xa0\xa0\xa0\xa0Public administration' 'CLASS OF WORKER'
 '\xa0\xa0\xa0\xa0Private wage and salary workers'
 '\xa0\xa0\xa0\xa0Government workers'
 '\xa0\xa0\xa0\xa0Self-employed in own not incorporated business workers'
 '\xa0\xa0\xa0\xa0Unpaid family workers'
 'INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)'
 '\xa0\xa0\xa0\xa0Total households' 'Less than $10,000'
 '$10,000 to $14,999' '$15,000 to $24,999' '$25,000 to $34,999'
 '$35,000 to $49,999' '$50,000 to $74,999' '$75,000 to $99,999'
 '$100,000 to $149,999' '$150,000 to $199,999' '$200,000 or more'
 '\xa0\xa0\xa0\xa0Median household income (dollars)'
 '\xa0\xa0\xa0\xa0Mean household income (dollars)'
 '\xa0\xa0\xa0\xa0With earnings'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Mean earnings (dollars)'
 '\xa0\xa0\xa0\xa0With Social Security'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Mean Social Security income (dollars)'
 '\xa0\xa0\xa0\xa0With retirement income'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Mean retirement income (dollars)'
 '\xa0\xa0\xa0\xa0With Supplemental Security Income'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Mean Supplemental Security Income (dollars)'
 '\xa0\xa0\xa0\xa0With cash public assistance income'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Mean cash public assistance income (dollars)'
 'With Food Stamp/SNAP benefits in the past 12 months'
 '\xa0\xa0\xa0\xa0Families'
 '\xa0\xa0\xa0\xa0Median family income (dollars)'
 '\xa0\xa0\xa0\xa0Mean family income (dollars)'
 '\xa0\xa0\xa0\xa0Per capita income (dollars)'
 '\xa0\xa0\xa0\xa0Nonfamily households'
 '\xa0\xa0\xa0\xa0Median nonfamily income (dollars)'
 '\xa0\xa0\xa0\xa0Mean nonfamily income (dollars)'
 '\xa0\xa0\xa0\xa0Median earnings for workers (dollars)'
 '\xa0\xa0\xa0\xa0Median earnings for male full-time, year-round workers (dollars)'
 '\xa0\xa0\xa0\xa0Median earnings for female full-time, year-round workers (dollars)'
 'HEALTH INSURANCE COVERAGE'
 '\xa0\xa0\xa0\xa0Civilian noninstitutionalized population'
 '\xa0\xa0\xa0\xa0With health insurance coverage'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0With private health insurance'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0With public coverage'
 '\xa0\xa0\xa0\xa0No health insurance coverage'
 'Civilian noninstitutionalized population under 18 years'
 'Civilian noninstitutionalized population 18 to 64 years'
 '\xa0\xa0\xa0\xa0In labor force:'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Employed:'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0With health insurance coverage'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0With private health insurance'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0With public coverage'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0No health insurance coverage'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Unemployed:'
 '\xa0\xa0\xa0\xa0Not in labor force:'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0With health insurance coverage'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0With private health insurance'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0With public coverage'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0No health insurance coverage'
 'PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL'
 '\xa0\xa0\xa0\xa0All families' 'With related children under 18 years'
 'With related children under 5 years only'
 '\xa0\xa0\xa0\xa0Married couple families'
 '\xa0\xa0\xa0\xa0Families with female householder, no husband present'
 '\xa0\xa0\xa0\xa0All people' 'Under 18 years'
 'Related children under 18 years' 'Related children under 5 years'
 'Related children 5 to 17 years' '18 years and over' '18 to 64 years'
 '65 years and over' '\xa0\xa0\xa0\xa0People in families'
 'Unrelated individuals 15 years and over'
 'INCOME AND BENEFITS (IN 2011 INFLATION-ADJUSTED DOLLARS)'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0In labor force'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Civilian labor force'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Employed'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Unemployed'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Armed Forces'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Not in labor force'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Percent Unemployed'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0All parents in family in labor force'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Car, truck, or van -- drove alone'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Car, truck, or van -- carpooled'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Public transportation (excluding taxicab)'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Walked'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Other means'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Worked at home'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Management, business, science, and arts occupations'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Service occupations'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Sales and office occupations'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Natural resources, construction, and maintenance occupations'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Production, transportation, and material moving occupations'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Agriculture, forestry, fishing and hunting, and mining'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Construction'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Manufacturing'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Wholesale trade'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Retail trade'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Transportation and warehousing, and utilities'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Information'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Finance and insurance, and real estate and rental and leasing'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Professional, scientific, and management, and administrative and waste management services'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Educational services, and health care and social assistance'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Arts, entertainment, and recreation, and accommodation and food services'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Other services, except public administration'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Public administration'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Private wage and salary workers'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Government workers'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Self-employed in own not incorporated business workers'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Unpaid family workers'
 'INCOME AND BENEFITS (IN 2013 INFLATION-ADJUSTED DOLLARS)'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Median household income (dollars)'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Mean household income (dollars)'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Median family income (dollars)'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Mean family income (dollars)'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Median nonfamily income (dollars)'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Mean nonfamily income (dollars)'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0In labor force:'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Employed:'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0With health insurance coverage'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0With private health insurance'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0With public coverage'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0No health insurance coverage'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Unemployed:'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Not in labor force:'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0People in families'
 'INCOME AND BENEFITS (IN 2012 INFLATION-ADJUSTED DOLLARS)'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Unemployment Rate'
 'Own children of the householder under 6 years'
 'Own children of the householder 6 to 17 years'
 'INCOME AND BENEFITS (IN 2016 INFLATION-ADJUSTED DOLLARS)'
 'With related children of the householder under 18 years'
 'With related children of the householder under 5 years only'
 'Related children of the householder under 18 years'
 'Related children of the householder under 5 years'
 'Related children of the householder 5 to 17 years'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Mean travel time to work (minutes)'
 'INCOME AND BENEFITS (IN 2017 INFLATION-ADJUSTED DOLLARS)'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0With earnings'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Mean earnings (dollars)'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0With Social Security'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Mean Social Security income (dollars)'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0With retirement income'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Mean retirement income (dollars)'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0With Supplemental Security Income'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Mean Supplemental Security Income (dollars)'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0With cash public assistance income'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Mean cash public assistance income (dollars)'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Per capita income (dollars)'
 'Civilian noninstitutionalized population under 19 years'
 'Civilian noninstitutionalized population 19 to 64 years'
 'INCOME AND BENEFITS (IN 2015 INFLATION-ADJUSTED DOLLARS)'
 'INCOME AND BENEFITS (IN 2014 INFLATION-ADJUSTED DOLLARS)'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Worked from home'
 'INCOME AND BENEFITS (IN 2019 INFLATION-ADJUSTED DOLLARS)'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Married couple families'
 '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Families with female householder, no spouse present'
 'INCOME AND BENEFITS (IN 2018 INFLATION-ADJUSTED DOLLARS)'
 'INCOME AND BENEFITS (IN 2022 INFLATION-ADJUSTED DOLLARS)'
 'INCOME AND BENEFITS (IN 2020 INFLATION-ADJUSTED DOLLARS)'
 'INCOME AND BENEFITS (IN 2021 INFLATION-ADJUSTED DOLLARS)']

In [6]:
mask = survey['Estimate'] != '(X)'

survey.loc[mask, 'Estimate'] = survey.loc[mask, 'Estimate'].str.replace(',', '')
survey.loc[mask, 'Estimate'] = survey.loc[mask, 'Estimate'].replace(r'[^\d.]', '', regex=True)

survey['Estimate'] = pd.to_numeric(survey['Estimate'], errors='coerce')

In [7]:
categories = survey[survey['Label (Grouping)'] == '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Employed:']['Category'].unique()
print(categories)

['HEALTH INSURANCE COVERAGE']

In [8]:
categories2 = survey[survey['Label (Grouping)'] == 'Civilian employed population 16 years and over']['Category'].unique()
print(categories2)

['OCCUPATION' 'INDUSTRY' 'CLASS OF WORKER']

In [9]:
categories3 = survey[survey['Label (Grouping)'] == '\xa0\xa0\xa0\xa0Self-employed in own not incorporated business workers']['Category'].unique()
print(categories3)

['CLASS OF WORKER']

In [10]:
categories5 = survey[survey['Label (Grouping)'] == '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Self-employed in own not incorporated business workers']['Category'].unique()
print(categories5)

['CLASS OF WORKER']

In [11]:
categories6 = survey[survey['Label (Grouping)'] == '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Employed:']['Category'].unique()
print(categories6)

['HEALTH INSURANCE COVERAGE']

In [12]:
employed_data_count = survey[(survey['Label (Grouping)'] == '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Employed') & (survey['Category'] == 'EMPLOYMENT STATUS')]['Estimate'].notna().sum()
print(employed_data_count)

312

In [13]:
employed_data = survey[(survey['Label (Grouping)'] == '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Employed') & (survey['Category'] == 'EMPLOYMENT STATUS')]

idx = employed_data.groupby(['State', 'Year'])['Estimate'].idxmax()

employed_data = employed_data.loc[idx]

print(employed_data)

           Label (Grouping)           Category      State   Estimate  \
4                  Employed  EMPLOYMENT STATUS    Alabama  2036867.0
7544               Employed  EMPLOYMENT STATUS    Alabama  2027919.0
22624              Employed  EMPLOYMENT STATUS    Alabama  2017887.0
149                Employed  EMPLOYMENT STATUS     Alaska   332126.0
7689               Employed  EMPLOYMENT STATUS     Alaska   336026.0
...                     ...                ...        ...        ...
14649              Employed  EMPLOYMENT STATUS  Wisconsin  2859925.0
29729              Employed  EMPLOYMENT STATUS  Wisconsin  2856318.0
7254               Employed  EMPLOYMENT STATUS    Wyoming   284148.0
14794              Employed  EMPLOYMENT STATUS    Wyoming   287634.0
29874              Employed  EMPLOYMENT STATUS    Wyoming   288847.0

      Margin of Error Percent Percent Margin of Error  Year
4              ±5,904   54.8%                    ±0.2  2010
7544           ±7,620   54.1%                    ±0.2  2011
22624          ±6,610   53.4%                    ±0.2  2012
149            ±2,150   62.9%                    ±0.4  2010
7689           ±2,127   62.6%                    ±0.4  2011
...               ...     ...                     ...   ...
14649          ±6,870   63.7%                    ±0.1  2011
29729          ±5,990   63.3%                    ±0.1  2012
7254           ±1,824   66.2%                    ±0.4  2010
14794          ±1,769   66.0%                    ±0.4  2011
29874          ±1,811   65.3%                    ±0.4  2012

[156 rows x 8 columns]

In [14]:
employed_data_estimate = employed_data[['State', 'Year', 'Estimate']]
print(employed_data_estimate)

           State  Year   Estimate
4        Alabama  2010  2036867.0
7544     Alabama  2011  2027919.0
22624    Alabama  2012  2017887.0
149       Alaska  2010   332126.0
7689      Alaska  2011   336026.0
...          ...   ...        ...
14649  Wisconsin  2011  2859925.0
29729  Wisconsin  2012  2856318.0
7254     Wyoming  2010   284148.0
14794    Wyoming  2011   287634.0
29874    Wyoming  2012   288847.0

[156 rows x 3 columns]

In [15]:
employed_data = survey[survey['Label (Grouping)'] == '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Employed']
unique_years = employed_data['Year'].unique()

print(unique_years)

[2010 2011 2012]

In [16]:
state_count = len(survey['State'].unique())
print(state_count)

52

In [17]:
categories4 = survey[survey['Label (Grouping)'] == '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Employed']['Category'].unique()
print(categories4)

['EMPLOYMENT STATUS']

In [18]:
employed_data_count2 = survey[(survey['Label (Grouping)'] == '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Employed') & (survey['Category'] == 'EMPLOYMENT STATUS')]['Estimate'].notna().sum()
print(employed_data_count2)

1040

In [19]:
employed_data2 = survey[(survey['Label (Grouping)'] == '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Employed') & (survey['Category'] == 'EMPLOYMENT STATUS')]

idx2 = employed_data2.groupby(['State', 'Year'])['Estimate'].idxmax()

employed_data2 = employed_data2.loc[idx2]

print(employed_data2)

               Label (Grouping)           Category    State   Estimate  \
15084                  Employed  EMPLOYMENT STATUS  Alabama  2002163.0
52784                  Employed  EMPLOYMENT STATUS  Alabama  2010453.0
45244                  Employed  EMPLOYMENT STATUS  Alabama  2022325.0
30164                  Employed  EMPLOYMENT STATUS  Alabama  2042025.0
37704                  Employed  EMPLOYMENT STATUS  Alabama  2055509.0
...                         ...                ...      ...        ...
75114                  Employed  EMPLOYMENT STATUS  Wyoming   290963.0
67574                  Employed  EMPLOYMENT STATUS  Wyoming   288503.0
90194                  Employed  EMPLOYMENT STATUS  Wyoming   287375.0
97734                  Employed  EMPLOYMENT STATUS  Wyoming   284934.0
82654                  Employed  EMPLOYMENT STATUS  Wyoming   287895.0

      Margin of Error Percent Percent Margin of Error  Year
15084          ±6,337   52.6%                    ±0.2  2013
52784          ±6,237   52.5%                    ±0.2  2014
45244          ±6,345   52.6%                    ±0.2  2015
30164          ±7,394   52.8%                    ±0.2  2016
37704          ±6,783   53.0%                    ±0.2  2017
...               ...     ...                     ...   ...
75114          ±2,021   63.4%                    ±0.4  2018
67574          ±2,006   62.8%                    ±0.4  2019
90194          ±2,514   62.3%                    ±0.5  2020
97734          ±2,179   62.3%                    ±0.5  2021
82654          ±1,956   62.5%                    ±0.4  2022

[520 rows x 8 columns]

In [20]:
employed_data_estimate2 = employed_data2[['State', 'Year', 'Estimate']]
print(employed_data_estimate2)

         State  Year   Estimate
15084  Alabama  2013  2002163.0
52784  Alabama  2014  2010453.0
45244  Alabama  2015  2022325.0
30164  Alabama  2016  2042025.0
37704  Alabama  2017  2055509.0
...        ...   ...        ...
75114  Wyoming  2018   290963.0
67574  Wyoming  2019   288503.0
90194  Wyoming  2020   287375.0
97734  Wyoming  2021   284934.0
82654  Wyoming  2022   287895.0

[520 rows x 3 columns]

In [21]:
employed_data2 = survey[survey['Label (Grouping)'] == '\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Employed']
unique_years2 = employed_data2['Year'].unique()

print(unique_years2)

[2013 2016 2017 2015 2014 2019 2018 2022 2020 2021]

In [22]:
print(employed_data_estimate)
print(employed_data_estimate2)

           State  Year   Estimate
4        Alabama  2010  2036867.0
7544     Alabama  2011  2027919.0
22624    Alabama  2012  2017887.0
149       Alaska  2010   332126.0
7689      Alaska  2011   336026.0
...          ...   ...        ...
14649  Wisconsin  2011  2859925.0
29729  Wisconsin  2012  2856318.0
7254     Wyoming  2010   284148.0
14794    Wyoming  2011   287634.0
29874    Wyoming  2012   288847.0

[156 rows x 3 columns]
         State  Year   Estimate
15084  Alabama  2013  2002163.0
52784  Alabama  2014  2010453.0
45244  Alabama  2015  2022325.0
30164  Alabama  2016  2042025.0
37704  Alabama  2017  2055509.0
...        ...   ...        ...
75114  Wyoming  2018   290963.0
67574  Wyoming  2019   288503.0
90194  Wyoming  2020   287375.0
97734  Wyoming  2021   284934.0
82654  Wyoming  2022   287895.0

[520 rows x 3 columns]

In [23]:
combined_employed_data = pd.concat([employed_data_estimate, employed_data_estimate2], axis=0, ignore_index=True)
print(combined_employed_data)

       State  Year   Estimate
0    Alabama  2010  2036867.0
1    Alabama  2011  2027919.0
2    Alabama  2012  2017887.0
3     Alaska  2010   332126.0
4     Alaska  2011   336026.0
..       ...   ...        ...
671  Wyoming  2018   290963.0
672  Wyoming  2019   288503.0
673  Wyoming  2020   287375.0
674  Wyoming  2021   284934.0
675  Wyoming  2022   287895.0

[676 rows x 3 columns]

In [24]:
total_employed_by_year = combined_employed_data.groupby('Year')['Estimate'].sum().reset_index()
total_employed_by_year.columns = ['Year', 'Total Employed']

print(total_employed_by_year)

    Year  Total Employed
0   2010     142982762.0
1   2011     142967563.0
2   2012     143117976.0
3   2013     142963835.0
4   2014     144516379.0
5   2015     146811129.0
6   2016     149056432.0
7   2017     151639301.0
8   2018     153768384.0
9   2019     155870698.0
10  2020     156915360.0
11  2021     158566825.0
12  2022     159994534.0

In [25]:
labor_force_count = survey[(survey['Label (Grouping)'] == '\xa0\xa0\xa0\xa0Civilian labor force') & (survey['Category'] == 'EMPLOYMENT STATUS')]['Estimate'].notna().sum()
print(labor_force_count)

676

In [26]:
labor_force_data = survey[(survey['Label (Grouping)'] == '\xa0\xa0\xa0\xa0Civilian labor force') & (survey['Category'] == 'EMPLOYMENT STATUS')]

labor_force_data = labor_force_data.groupby('Year')['Estimate'].sum()
labor_force_data = labor_force_data.reset_index()
labor_force_data.columns = ['Year', 'Total Civilian labor force']

print(labor_force_data)

    Year  Total Civilian labor force
0   2010                 155417951.0
1   2011                 156693638.0
2   2012                 157896851.0
3   2013                 158460848.0
4   2014                 159263968.0
5   2015                 160196946.0
6   2016                 161089085.0
7   2017                 162420203.0
8   2018                 163486646.0
9   2019                 164781032.0
10  2020                 165968047.0
11  2021                 167908608.0
12  2022                 169104234.0

In [27]:
merged_df = pd.merge(total_employed_by_year, labor_force_data, on='Year')
merged_df['Employment Rate'] = (merged_df['Total Employed']/merged_df['Total Civilian labor force'])

print(merged_df)

    Year  Total Employed  Total Civilian labor force  Employment Rate
0   2010     142982762.0                 155417951.0         0.919989
1   2011     142967563.0                 156693638.0         0.912402
2   2012     143117976.0                 157896851.0         0.906402
3   2013     142963835.0                 158460848.0         0.902203
4   2014     144516379.0                 159263968.0         0.907402
5   2015     146811129.0                 160196946.0         0.916441
6   2016     149056432.0                 161089085.0         0.925304
7   2017     151639301.0                 162420203.0         0.933623
8   2018     153768384.0                 163486646.0         0.940556
9   2019     155870698.0                 164781032.0         0.945926
10  2020     156915360.0                 165968047.0         0.945455
11  2021     158566825.0                 167908608.0         0.944364
12  2022     159994534.0                 169104234.0         0.946130

In [28]:
employment_rate = merged_df[['Year', 'Employment Rate']] 
print(employment_rate)

    Year  Employment Rate
0   2010         0.919989
1   2011         0.912402
2   2012         0.906402
3   2013         0.902203
4   2014         0.907402
5   2015         0.916441
6   2016         0.925304
7   2017         0.933623
8   2018         0.940556
9   2019         0.945926
10  2020         0.945455
11  2021         0.944364
12  2022         0.946130

In [29]:
employment_rate.to_csv('Employment_Rate.csv', index=False)