In [29]:
# How do changes in employment rates correlate with processed food consumption?

# consumed = (percentage of processed meat) * (1 - percent waste) * (produced - stored)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

np.random.seed(42)

In [3]:
meat_stats_cold_storage = pd.read_csv("Datathon Data/Meat_Stats_Cold_Storage.csv")

meat_stats_meat_production = pd.read_csv("Datathon Data/Meat_Stats_Meat_Production.csv")

In [4]:
print(meat_stats_cold_storage)

          Date  Year  Month            Unit       Animal  Weight Type_Of_Meat
0     Dec-2023  2023     12  Million Pounds         Beef  457.41     Red Meat
1     Nov-2023  2023     11  Million Pounds         Beef  445.67     Red Meat
2     Oct-2023  2023     10  Million Pounds         Beef  420.85     Red Meat
3     Sep-2023  2023      9  Million Pounds         Beef  395.40     Red Meat
4     Aug-2023  2023      8  Million Pounds         Beef  410.46     Red Meat
...        ...   ...    ...             ...          ...     ...          ...
3931  May-1983  1983      5  Million Pounds  Frozen Eggs     NaN      Poultry
3932  Apr-1983  1983      4  Million Pounds  Frozen Eggs     NaN      Poultry
3933  Mar-1983  1983      3  Million Pounds  Frozen Eggs     NaN      Poultry
3934  Feb-1983  1983      2  Million Pounds  Frozen Eggs     NaN      Poultry
3935  Jan-1983  1983      1  Million Pounds  Frozen Eggs     NaN      Poultry

[3936 rows x 7 columns]

In [5]:
print(meat_stats_cold_storage.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3936 entries, 0 to 3935
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          3936 non-null   object
 1   Year          3936 non-null   int64
 2   Month         3936 non-null   int64
 3   Unit          3936 non-null   object
 4   Animal        3936 non-null   object
 5   Weight        3606 non-null   float64
 6   Type_Of_Meat  3936 non-null   object
dtypes: float64(1), int64(2), object(4)
memory usage: 215.4+ KB
None

In [6]:
date_values = meat_stats_cold_storage['Date'].unique()
print(date_values)

date_count = meat_stats_cold_storage['Date'].value_counts()
print(date_count)

year_values = meat_stats_cold_storage['Year'].unique()
print(year_values)

month_values = meat_stats_cold_storage['Month'].unique()
print(month_values)

unit_values = meat_stats_cold_storage['Unit'].unique()
print(unit_values)

animal_values = meat_stats_cold_storage['Animal'].unique()
print(animal_values)

typeOfMeat_values = meat_stats_cold_storage['Type_Of_Meat'].unique()
print(typeOfMeat_values)

['Dec-2023' 'Nov-2023' 'Oct-2023' 'Sep-2023' 'Aug-2023' 'Jul-2023'
 'Jun-2023' 'May-2023' 'Apr-2023' 'Mar-2023' 'Feb-2023' 'Jan-2023'
 'Dec-2022' 'Nov-2022' 'Oct-2022' 'Sep-2022' 'Aug-2022' 'Jul-2022'
 'Jun-2022' 'May-2022' 'Apr-2022' 'Mar-2022' 'Feb-2022' 'Jan-2022'
 'Dec-2021' 'Nov-2021' 'Oct-2021' 'Sep-2021' 'Aug-2021' 'Jul-2021'
 'Jun-2021' 'May-2021' 'Apr-2021' 'Mar-2021' 'Feb-2021' 'Jan-2021'
 'Dec-2020' 'Nov-2020' 'Oct-2020' 'Sep-2020' 'Aug-2020' 'Jul-2020'
 'Jun-2020' 'May-2020' 'Apr-2020' 'Mar-2020' 'Feb-2020' 'Jan-2020'
 'Dec-2019' 'Nov-2019' 'Oct-2019' 'Sep-2019' 'Aug-2019' 'Jul-2019'
 'Jun-2019' 'May-2019' 'Apr-2019' 'Mar-2019' 'Feb-2019' 'Jan-2019'
 'Dec-2018' 'Nov-2018' 'Oct-2018' 'Sep-2018' 'Aug-2018' 'Jul-2018'
 'Jun-2018' 'May-2018' 'Apr-2018' 'Mar-2018' 'Feb-2018' 'Jan-2018'
 'Dec-2017' 'Nov-2017' 'Oct-2017' 'Sep-2017' 'Aug-2017' 'Jul-2017'
 'Jun-2017' 'May-2017' 'Apr-2017' 'Mar-2017' 'Feb-2017' 'Jan-2017'
 'Dec-2016' 'Nov-2016' 'Oct-2016' 'Sep-2016' 'Aug-2016' 'Jul-2016'
 'Jun-2016' 'May-2016' 'Apr-2016' 'Mar-2016' 'Feb-2016' 'Jan-2016'
 'Dec-2015' 'Nov-2015' 'Oct-2015' 'Sep-2015' 'Aug-2015' 'Jul-2015'
 'Jun-2015' 'May-2015' 'Apr-2015' 'Mar-2015' 'Feb-2015' 'Jan-2015'
 'Dec-2014' 'Nov-2014' 'Oct-2014' 'Sep-2014' 'Aug-2014' 'Jul-2014'
 'Jun-2014' 'May-2014' 'Apr-2014' 'Mar-2014' 'Feb-2014' 'Jan-2014'
 'Dec-2013' 'Nov-2013' 'Oct-2013' 'Sep-2013' 'Aug-2013' 'Jul-2013'
 'Jun-2013' 'May-2013' 'Apr-2013' 'Mar-2013' 'Feb-2013' 'Jan-2013'
 'Dec-2012' 'Nov-2012' 'Oct-2012' 'Sep-2012' 'Aug-2012' 'Jul-2012'
 'Jun-2012' 'May-2012' 'Apr-2012' 'Mar-2012' 'Feb-2012' 'Jan-2012'
 'Dec-2011' 'Nov-2011' 'Oct-2011' 'Sep-2011' 'Aug-2011' 'Jul-2011'
 'Jun-2011' 'May-2011' 'Apr-2011' 'Mar-2011' 'Feb-2011' 'Jan-2011'
 'Dec-2010' 'Nov-2010' 'Oct-2010' 'Sep-2010' 'Aug-2010' 'Jul-2010'
 'Jun-2010' 'May-2010' 'Apr-2010' 'Mar-2010' 'Feb-2010' 'Jan-2010'
 'Dec-2009' 'Nov-2009' 'Oct-2009' 'Sep-2009' 'Aug-2009' 'Jul-2009'
 'Jun-2009' 'May-2009' 'Apr-2009' 'Mar-2009' 'Feb-2009' 'Jan-2009'
 'Dec-2008' 'Nov-2008' 'Oct-2008' 'Sep-2008' 'Aug-2008' 'Jul-2008'
 'Jun-2008' 'May-2008' 'Apr-2008' 'Mar-2008' 'Feb-2008' 'Jan-2008'
 'Dec-2007' 'Nov-2007' 'Oct-2007' 'Sep-2007' 'Aug-2007' 'Jul-2007'
 'Jun-2007' 'May-2007' 'Apr-2007' 'Mar-2007' 'Feb-2007' 'Jan-2007'
 'Dec-2006' 'Nov-2006' 'Oct-2006' 'Sep-2006' 'Aug-2006' 'Jul-2006'
 'Jun-2006' 'May-2006' 'Apr-2006' 'Mar-2006' 'Feb-2006' 'Jan-2006'
 'Dec-2005' 'Nov-2005' 'Oct-2005' 'Sep-2005' 'Aug-2005' 'Jul-2005'
 'Jun-2005' 'May-2005' 'Apr-2005' 'Mar-2005' 'Feb-2005' 'Jan-2005'
 'Dec-2004' 'Nov-2004' 'Oct-2004' 'Sep-2004' 'Aug-2004' 'Jul-2004'
 'Jun-2004' 'May-2004' 'Apr-2004' 'Mar-2004' 'Feb-2004' 'Jan-2004'
 'Dec-2003' 'Nov-2003' 'Oct-2003' 'Sep-2003' 'Aug-2003' 'Jul-2003'
 'Jun-2003' 'May-2003' 'Apr-2003' 'Mar-2003' 'Feb-2003' 'Jan-2003'
 'Dec-2002' 'Nov-2002' 'Oct-2002' 'Sep-2002' 'Aug-2002' 'Jul-2002'
 'Jun-2002' 'May-2002' 'Apr-2002' 'Mar-2002' 'Feb-2002' 'Jan-2002'
 'Dec-2001' 'Nov-2001' 'Oct-2001' 'Sep-2001' 'Aug-2001' 'Jul-2001'
 'Jun-2001' 'May-2001' 'Apr-2001' 'Mar-2001' 'Feb-2001' 'Jan-2001'
 'Dec-2000' 'Nov-2000' 'Oct-2000' 'Sep-2000' 'Aug-2000' 'Jul-2000'
 'Jun-2000' 'May-2000' 'Apr-2000' 'Mar-2000' 'Feb-2000' 'Jan-2000'
 'Dec-1999' 'Nov-1999' 'Oct-1999' 'Sep-1999' 'Aug-1999' 'Jul-1999'
 'Jun-1999' 'May-1999' 'Apr-1999' 'Mar-1999' 'Feb-1999' 'Jan-1999'
 'Dec-1998' 'Nov-1998' 'Oct-1998' 'Sep-1998' 'Aug-1998' 'Jul-1998'
 'Jun-1998' 'May-1998' 'Apr-1998' 'Mar-1998' 'Feb-1998' 'Jan-1998'
 'Dec-1997' 'Nov-1997' 'Oct-1997' 'Sep-1997' 'Aug-1997' 'Jul-1997'
 'Jun-1997' 'May-1997' 'Apr-1997' 'Mar-1997' 'Feb-1997' 'Jan-1997'
 'Dec-1996' 'Nov-1996' 'Oct-1996' 'Sep-1996' 'Aug-1996' 'Jul-1996'
 'Jun-1996' 'May-1996' 'Apr-1996' 'Mar-1996' 'Feb-1996' 'Jan-1996'
 'Dec-1995' 'Nov-1995' 'Oct-1995' 'Sep-1995' 'Aug-1995' 'Jul-1995'
 'Jun-1995' 'May-1995' 'Apr-1995' 'Mar-1995' 'Feb-1995' 'Jan-1995'
 'Dec-1994' 'Nov-1994' 'Oct-1994' 'Sep-1994' 'Aug-1994' 'Jul-1994'
 'Jun-1994' 'May-1994' 'Apr-1994' 'Mar-1994' 'Feb-1994' 'Jan-1994'
 'Dec-1993' 'Nov-1993' 'Oct-1993' 'Sep-1993' 'Aug-1993' 'Jul-1993'
 'Jun-1993' 'May-1993' 'Apr-1993' 'Mar-1993' 'Feb-1993' 'Jan-1993'
 'Dec-1992' 'Nov-1992' 'Oct-1992' 'Sep-1992' 'Aug-1992' 'Jul-1992'
 'Jun-1992' 'May-1992' 'Apr-1992' 'Mar-1992' 'Feb-1992' 'Jan-1992'
 'Dec-1991' 'Nov-1991' 'Oct-1991' 'Sep-1991' 'Aug-1991' 'Jul-1991'
 'Jun-1991' 'May-1991' 'Apr-1991' 'Mar-1991' 'Feb-1991' 'Jan-1991'
 'Dec-1990' 'Nov-1990' 'Oct-1990' 'Sep-1990' 'Aug-1990' 'Jul-1990'
 'Jun-1990' 'May-1990' 'Apr-1990' 'Mar-1990' 'Feb-1990' 'Jan-1990'
 'Dec-1989' 'Nov-1989' 'Oct-1989' 'Sep-1989' 'Aug-1989' 'Jul-1989'
 'Jun-1989' 'May-1989' 'Apr-1989' 'Mar-1989' 'Feb-1989' 'Jan-1989'
 'Dec-1988' 'Nov-1988' 'Oct-1988' 'Sep-1988' 'Aug-1988' 'Jul-1988'
 'Jun-1988' 'May-1988' 'Apr-1988' 'Mar-1988' 'Feb-1988' 'Jan-1988'
 'Dec-1987' 'Nov-1987' 'Oct-1987' 'Sep-1987' 'Aug-1987' 'Jul-1987'
 'Jun-1987' 'May-1987' 'Apr-1987' 'Mar-1987' 'Feb-1987' 'Jan-1987'
 'Dec-1986' 'Nov-1986' 'Oct-1986' 'Sep-1986' 'Aug-1986' 'Jul-1986'
 'Jun-1986' 'May-1986' 'Apr-1986' 'Mar-1986' 'Feb-1986' 'Jan-1986'
 'Dec-1985' 'Nov-1985' 'Oct-1985' 'Sep-1985' 'Aug-1985' 'Jul-1985'
 'Jun-1985' 'May-1985' 'Apr-1985' 'Mar-1985' 'Feb-1985' 'Jan-1985'
 'Dec-1984' 'Nov-1984' 'Oct-1984' 'Sep-1984' 'Aug-1984' 'Jul-1984'
 'Jun-1984' 'May-1984' 'Apr-1984' 'Mar-1984' 'Feb-1984' 'Jan-1984'
 'Dec-1983' 'Nov-1983' 'Oct-1983' 'Sep-1983' 'Aug-1983' 'Jul-1983'
 'Jun-1983' 'May-1983' 'Apr-1983' 'Mar-1983' 'Feb-1983' 'Jan-1983']
Date
Dec-2023    8
Oct-1995    8
Dec-1995    8
Jan-1996    8
Feb-1996    8
           ..
Sep-2010    8
Oct-2010    8
Nov-2010    8
Dec-2010    8
Jan-1983    8
Name: count, Length: 492, dtype: int64
[2023 2022 2021 2020 2019 2018 2017 2016 2015 2014 2013 2012 2011 2010
 2009 2008 2007 2006 2005 2004 2003 2002 2001 2000 1999 1998 1997 1996
 1995 1994 1993 1992 1991 1990 1989 1988 1987 1986 1985 1984 1983]
[12 11 10  9  8  7  6  5  4  3  2  1]
['Million Pounds']
['Beef' 'Veal' 'Pork' 'Lamb and Mutton' 'Broiler' 'Other Chicken' 'Turkey'
 'Frozen Eggs']
['Red Meat' 'Poultry']

In [7]:
egg_rows = meat_stats_cold_storage['Animal'] == 'Frozen Eggs'
meat_stats_cold_storage_clean = meat_stats_cold_storage[~egg_rows]

In [8]:
animal_values2 = meat_stats_cold_storage_clean['Animal'].unique()
print(animal_values2)

['Beef' 'Veal' 'Pork' 'Lamb and Mutton' 'Broiler' 'Other Chicken' 'Turkey']

In [9]:
incomplete_date_cold_storage = meat_stats_cold_storage_clean[meat_stats_cold_storage_clean['Weight'].isna()]

cold_storage_dates_to_remove = incomplete_date_cold_storage['Date'].unique()

meat_stats_cold_storage_clean = meat_stats_cold_storage_clean[~meat_stats_cold_storage_clean['Date'].isin(cold_storage_dates_to_remove)]

print(meat_stats_cold_storage_clean)

          Date  Year  Month            Unit  Animal  Weight Type_Of_Meat
0     Dec-2023  2023     12  Million Pounds    Beef  457.41     Red Meat
1     Nov-2023  2023     11  Million Pounds    Beef  445.67     Red Meat
2     Oct-2023  2023     10  Million Pounds    Beef  420.85     Red Meat
3     Sep-2023  2023      9  Million Pounds    Beef  395.40     Red Meat
4     Aug-2023  2023      8  Million Pounds    Beef  410.46     Red Meat
...        ...   ...    ...             ...     ...     ...          ...
3194  Oct-2003  2003     10  Million Pounds  Turkey  647.54      Poultry
3195  Sep-2003  2003      9  Million Pounds  Turkey  706.50      Poultry
3196  Aug-2003  2003      8  Million Pounds  Turkey  722.54      Poultry
3197  Jul-2003  2003      7  Million Pounds  Turkey  718.21      Poultry
3198  Jun-2003  2003      6  Million Pounds  Turkey  658.84      Poultry

[1729 rows x 7 columns]

In [10]:
meat_stats_cold_storage_clean = meat_stats_cold_storage_clean.drop(columns=['Year', 'Month'])

In [11]:
print(meat_stats_cold_storage_clean.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1729 entries, 0 to 3198
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          1729 non-null   object
 1   Unit          1729 non-null   object
 2   Animal        1729 non-null   object
 3   Weight        1729 non-null   float64
 4   Type_Of_Meat  1729 non-null   object
dtypes: float64(1), object(4)
memory usage: 81.0+ KB
None

In [12]:
meat_stats_cold_storage_clean = meat_stats_cold_storage_clean.groupby('Date')['Weight'].sum()

print(meat_stats_cold_storage_clean)

Date
Apr-2004    1964.16
Apr-2005    1997.78
Apr-2006    2196.89
Apr-2007    1877.52
Apr-2008    2283.46
             ...
Sep-2019    2549.93
Sep-2020    2348.98
Sep-2021    2008.75
Sep-2022    2323.11
Sep-2023    2141.54
Name: Weight, Length: 247, dtype: float64

In [13]:
print(meat_stats_cold_storage_clean.info())

<class 'pandas.core.series.Series'>
Index: 247 entries, Apr-2004 to Sep-2023
Series name: Weight
Non-Null Count  Dtype
--------------  -----
247 non-null    float64
dtypes: float64(1)
memory usage: 3.9+ KB
None

In [14]:
print(meat_stats_meat_production)

           Date  Year  Month            Unit Production  Animal  \
0      Dec-2023  2023     12  Million Pounds   2,189.80    Beef
1      Nov-2023  2023     11  Million Pounds   2,280.90    Beef
2      Oct-2023  2023     10  Million Pounds   2,340.90    Beef
3      Sep-2023  2023      9  Million Pounds   2,149.40    Beef
4      Aug-2023  2023      8  Million Pounds   2,363.50    Beef
...         ...   ...    ...             ...        ...     ...
13590  May-1921  1921      5  Million Pounds        NaN  Turkey
13591  Apr-1921  1921      4  Million Pounds        NaN  Turkey
13592  Mar-1921  1921      3  Million Pounds        NaN  Turkey
13593  Feb-1921  1921      2  Million Pounds        NaN  Turkey
13594  Jan-1921  1921      1  Million Pounds        NaN  Turkey

      Commercial or Federally Inspected Type of Meat
0                            Commercial     Red Meat
1                            Commercial     Red Meat
2                            Commercial     Red Meat
3                            Commercial     Red Meat
4                            Commercial     Red Meat
...                                 ...          ...
13590               Federally Inspected      Poultry
13591               Federally Inspected      Poultry
13592               Federally Inspected      Poultry
13593               Federally Inspected      Poultry
13594               Federally Inspected      Poultry

[13595 rows x 8 columns]

In [15]:
print(meat_stats_meat_production.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13595 entries, 0 to 13594
Data columns (total 8 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Date                               13595 non-null  object
 1   Year                               13595 non-null  int64
 2   Month                              13595 non-null  int64
 3   Unit                               13595 non-null  object
 4   Production                         9620 non-null   object
 5   Animal                             13595 non-null  object
 6   Commercial or Federally Inspected  13595 non-null  object
 7   Type of Meat                       13595 non-null  object
dtypes: int64(2), object(6)
memory usage: 849.8+ KB
None

In [16]:
date2_values = meat_stats_meat_production['Date'].unique()
print(date2_values)

date2_count = meat_stats_meat_production['Date'].value_counts()
print(date2_count)

year2_values = meat_stats_meat_production['Year'].unique()
print(year2_values)

month2_values = meat_stats_meat_production['Month'].unique()
print(month2_values)

unit2_values = meat_stats_meat_production['Unit'].unique()
print(unit2_values)

animal2_values = meat_stats_meat_production['Animal'].unique()
print(animal2_values)

typeOfMeat2_values = meat_stats_meat_production['Type of Meat'].unique()
print(typeOfMeat2_values)

['Dec-2023' 'Nov-2023' 'Oct-2023' ... 'Mar-1921' 'Feb-1921' 'Jan-1921']
Date
Dec-2023    11
Jun-1955    11
Nov-1954    11
Dec-1954    11
Jan-1955    11
            ..
Oct-1989    11
Nov-1989    11
Dec-1989    11
Jan-1990    11
Jan-1921    10
Name: count, Length: 1236, dtype: int64
[2023 2022 2021 2020 2019 2018 2017 2016 2015 2014 2013 2012 2011 2010
 2009 2008 2007 2006 2005 2004 2003 2002 2001 2000 1999 1998 1997 1996
 1995 1994 1993 1992 1991 1990 1989 1988 1987 1986 1985 1984 1983 1982
 1981 1980 1979 1978 1977 1976 1975 1974 1973 1972 1971 1970 1969 1968
 1967 1966 1965 1964 1963 1962 1961 1960 1959 1958 1957 1956 1955 1954
 1953 1952 1951 1950 1949 1948 1947 1946 1945 1944 1943 1942 1941 1940
 1939 1938 1937 1936 1935 1934 1933 1932 1931 1930 1929 1928 1927 1926
 1925 1924 1923 1922 1921]
[12 11 10  9  8  7  6  5  4  3  2  1]
['Million Pounds']
['Beef' 'Veal' 'Pork' 'Lamb and Mutton' 'Broilers' 'Other Chicken'
 'Turkey']
['Red Meat' 'Poultry']

In [17]:
incomplete_date_meat_production = meat_stats_meat_production[meat_stats_meat_production['Production'].isna()]

meat_production_dates_to_remove = incomplete_date_meat_production['Date'].unique()

meat_stats_meat_production_clean = meat_stats_meat_production[~meat_stats_meat_production['Date'].isin(meat_production_dates_to_remove)]

print(meat_stats_meat_production_clean)

           Date  Year  Month            Unit Production  Animal  \
0      Dec-2023  2023     12  Million Pounds   2,189.80    Beef
1      Nov-2023  2023     11  Million Pounds   2,280.90    Beef
2      Oct-2023  2023     10  Million Pounds   2,340.90    Beef
3      Sep-2023  2023      9  Million Pounds   2,149.40    Beef
4      Aug-2023  2023      8  Million Pounds   2,363.50    Beef
...         ...   ...    ...             ...        ...     ...
12630  May-2001  2001      5  Million Pounds      428.8  Turkey
12631  Apr-2001  2001      4  Million Pounds        462  Turkey
12632  Mar-2001  2001      3  Million Pounds      409.3  Turkey
12633  Feb-2001  2001      2  Million Pounds      461.2  Turkey
12634  Jan-2001  2001      1  Million Pounds      403.4  Turkey

      Commercial or Federally Inspected Type of Meat
0                            Commercial     Red Meat
1                            Commercial     Red Meat
2                            Commercial     Red Meat
3                            Commercial     Red Meat
4                            Commercial     Red Meat
...                                 ...          ...
12630               Federally Inspected      Poultry
12631               Federally Inspected      Poultry
12632               Federally Inspected      Poultry
12633               Federally Inspected      Poultry
12634               Federally Inspected      Poultry

[3036 rows x 8 columns]

In [18]:
meat_stats_meat_production_clean = meat_stats_meat_production_clean.drop(columns=['Year', 'Month'])

In [19]:
print(meat_stats_meat_production_clean.info())

<class 'pandas.core.frame.DataFrame'>
Index: 3036 entries, 0 to 12634
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Date                               3036 non-null   object
 1   Unit                               3036 non-null   object
 2   Production                         3036 non-null   object
 3   Animal                             3036 non-null   object
 4   Commercial or Federally Inspected  3036 non-null   object
 5   Type of Meat                       3036 non-null   object
dtypes: object(6)
memory usage: 166.0+ KB
None

In [20]:
meat_stats_meat_production_clean['Production'] = meat_stats_meat_production_clean['Production'].str.replace(',', '').astype(float)

In [21]:
meat_stats_meat_production_clean = meat_stats_meat_production_clean.groupby('Date')['Production'].sum()

print(meat_stats_meat_production_clean)

Date
Apr-2001     9984.9
Apr-2002    11000.5
Apr-2003    10888.2
Apr-2004    10709.7
Apr-2005    10561.0
             ...
Sep-2019    13073.2
Sep-2020    13762.0
Sep-2021    13556.4
Sep-2022    13777.1
Sep-2023    12994.7
Name: Production, Length: 276, dtype: float64

In [22]:
print(meat_stats_meat_production_clean.info())

<class 'pandas.core.series.Series'>
Index: 276 entries, Apr-2001 to Sep-2023
Series name: Production
Non-Null Count  Dtype
--------------  -----
276 non-null    float64
dtypes: float64(1)
memory usage: 4.3+ KB
None

In [23]:
print(meat_stats_cold_storage_clean)

print(meat_stats_meat_production_clean)

Date
Apr-2004    1964.16
Apr-2005    1997.78
Apr-2006    2196.89
Apr-2007    1877.52
Apr-2008    2283.46
             ...
Sep-2019    2549.93
Sep-2020    2348.98
Sep-2021    2008.75
Sep-2022    2323.11
Sep-2023    2141.54
Name: Weight, Length: 247, dtype: float64
Date
Apr-2001     9984.9
Apr-2002    11000.5
Apr-2003    10888.2
Apr-2004    10709.7
Apr-2005    10561.0
             ...
Sep-2019    13073.2
Sep-2020    13762.0
Sep-2021    13556.4
Sep-2022    13777.1
Sep-2023    12994.7
Name: Production, Length: 276, dtype: float64

In [24]:
df_cold_storage = meat_stats_cold_storage_clean.reset_index()
df_cold_storage.columns = ['Date', 'Weight']

df_meat_production = meat_stats_meat_production_clean.reset_index()
df_meat_production.columns = ['Date', 'Production']

cold_storage_dates = set(df_cold_storage['Date'])
meat_production_dates = set(df_meat_production['Date'])
common_dates = cold_storage_dates.intersection(meat_production_dates)

filtered_df_cold_storage = df_cold_storage[df_cold_storage['Date'].isin(common_dates)]
filtered_df_meat_production = df_meat_production[df_meat_production['Date'].isin(common_dates)]

In [25]:
print(filtered_df_cold_storage)
print(filtered_df_meat_production)

         Date   Weight
0    Apr-2004  1964.16
1    Apr-2005  1997.78
2    Apr-2006  2196.89
3    Apr-2007  1877.52
4    Apr-2008  2283.46
..        ...      ...
242  Sep-2019  2549.93
243  Sep-2020  2348.98
244  Sep-2021  2008.75
245  Sep-2022  2323.11
246  Sep-2023  2141.54

[247 rows x 2 columns]
         Date  Production
3    Apr-2004     10709.7
4    Apr-2005     10561.0
5    Apr-2006     10493.3
6    Apr-2007     10871.3
7    Apr-2008     12281.1
..        ...         ...
271  Sep-2019     13073.2
272  Sep-2020     13762.0
273  Sep-2021     13556.4
274  Sep-2022     13777.1
275  Sep-2023     12994.7

[247 rows x 2 columns]

In [26]:
# We will assume there is 35% loss for the food

# So, consumed = (1 - 0.35) * (produced - stored)

# or consumed = 0.65*(produced - stored)

In [27]:
merged_df = pd.merge(filtered_df_cold_storage, filtered_df_meat_production, on='Date')

merged_df['Consumption'] = (merged_df['Production'] - merged_df['Weight'])*0.65

consumption_df = merged_df[['Date', 'Consumption']]

In [28]:
print(consumption_df)

         Date  Consumption
0    Apr-2004    5684.6010
1    Apr-2005    5566.0930
2    Apr-2006    5392.6665
3    Apr-2007    5845.9570
4    Apr-2008    6498.4660
..        ...          ...
242  Sep-2019    6840.1255
243  Sep-2020    7418.4630
244  Sep-2021    7505.9725
245  Sep-2022    7445.0935
246  Sep-2023    7054.5540

[247 rows x 2 columns]